 #sidebarMenu .list-group-item {
     background-color: transparent;
     border: none;
     color: #4f4f4f;
     /* Modern dark gray text */
     margin-bottom: 2px;
     border-radius: 8px !important;
     /* Rounded corners for a modern feel */
 }

 /* 3. Hover State: Slightly darker than the background */
 #sidebarMenu .list-group-item-action:hover {
     background-color: rgba(0, 0, 0, 0.05) !important;
     color: #0d6efd;
 }

 #sidebarMenu .list-group-item.active {
     #sidebarMenu {
         background-color: #dfe2e6 !important;
         width: 240px;
         height: 100vh;
         position: fixed;
         top: 0;
         left: 0;
         overflow-y: auto;
         padding-bottom: 2rem;
     }
 }

 .no-caret::after {
     display: none !important;
 }
 